.item {
  width: 46%;
}

.item__image {
  max-width: 100%;
  height: auto;
}

.item__header {
  padding-right: 5px;
  margin-bottom: 12px;
}

.item__content {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
}

.item__wrapper {
  padding: 35px;
  border: 1px solid #d7d7d7;
  position: relative;
  background-image: url("../img/content--background.png");
}

@media (max-width: 750px) {
  .item {
    width: 100%;
    margin-bottom: 15px;
  }

  .item__image {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
  }
}
