.navigation {
  margin-right: auto;
  position: relative;
  z-index: 2;
  background-image: url("../img/nav-background.png");
}

.navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  z-index: 1;
}

.navigation__toggle {
  display: none;
}

.navigation__item {
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

.navigation__link {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Open Sans Regular";
  font-size: 14px;
  line-height: 36px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  z-index: 3;

  &:visited {
    color: #ffffff;
  }
}

.navigation {

  &::before {
    content: "";
    width: 40vw;
    height: 100%;
    position: absolute;
    right: -40vw;
    bottom: 0;
    background-image: url("../img/nav-background.png");
  }
}

@media (max-width: 750px) {
  .navigation {
    margin: 0;

    &::before {
      display: none;
    }
  }

  .no-js .navigation__toggle{
    display: none;
  }

  .navigation ul {
    display: none;
    width: 100%;
  }

  .no-js ul {
    display: block;
  }

  .navigation--open ul{
    display: block;
  }

  .navigation__item {
    text-align: center;
    padding: 0;
  }

  .navigation__toggle {
    width: 21px;
    height: 15px;
    display: block;
    position: absolute;
    top: -30px;
    right: 30px;
    background-color: transparent;
    border: none;
    z-index: 3;

    &::before {
      content: "";
      width: 21px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../img/icons/icon-menu-open.svg);
      background-repeat: no-repeat;
    }
  }

  .navigation--open .navigation__toggle {
    height: 21px;

    &::before {
      height: 21px;
      background-image: url(../img/icons/icon-menu-close.svg);
    }
  }
}
