@font-face {
  font-family: "Open Sans Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans-bold.woff") format("woff"),
  url("../fonts/opensans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Italic";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"),
  url("../fonts/OpenSans-Italic.woff2") format("woff2");
}

.hidden {
  display: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  background-image: url("../img/body--background.png");
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.title {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #3a3e3f;
}

.arrow-top {
  &::before {
    content: "";
    width: 33px;
    height: 17px;
    position: absolute;
    top: -17px;
    left: 72px;
    background-image: url("../img/arrow.png");
    background-size: cover;
  }
}

.bottom-scroll {
  &::after {
    content: "";
    width: 98%;
    height: 7px;
    position: absolute;
    bottom: -8px;
    left: 5px;
    background-image: url("../img/bottom-scroll.png");
    background-size: 100% 100%;
  }
}
